[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[scripts]
build = "make html"
cover = "coverage run --source lib -m py.test"
report = "coverage report"

[packages]

[dev-packages]
pytest = "*"
coveralls = "*"
vcrpy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.5"
